doctype html
html(lang='en')
 head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description', content='')
  meta(name='author', content='')
  link(rel='icon', href='/author/img/favicon.ico')
  title Test
  include components/includes-head.pug
 body.bg-light
  block content
  include components/includes-scripts.pug